* {
  padding: 0;
  margin: 0;
  border: 0;
}
.container-fluid {
  background-color: grey;
  height: 42vh;
}

/* UserInput style */

.form-group {
  width: 25rem;
}

.Test {
  margin-top: 2em;
}

.form-top {
  margin-top: 2em;
}
